<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers.memberMapper">

    <select id="listMembers" resultMap="memberResult">
        select * from member
    </select>

    <resultMap type="MemberVO" id="memberResult">
        <id property="userNo" colum="userNo"/>
        <result property="userId" colum="userId"/>
        <result property="userName" colum="userName"/>
        <result property="userPassword" colum="userPassword"/>
    </resultMap>

</mapper>

